* {
	margin: 25px;
	padding: 25px;
	background-color:	#c09F80;
}



body {
	background-color: #76323F;

}

h1 {
	font-size: 37px;
	font-family: 'Courier New', Courier, monospace;
	color: #565656;
}

main {
	color: #565656;
}

footer {
	height: 75px;
	background: #c09F80;
}



td,
th {
		border: 1px solid black;
		    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: salmon;
}

th[scope="col"] {
    background-color:salmon;
    color: #fff;
}

th[scope="row"] {
    background-color: black;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid coral;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

