* {
	margin: 25px;
	padding: 25px;
	background-color: #B3CBFF;
}




body {
	background-color: #596580;

}

h1 {
	font-size: 37px;
	font-family: 'Courier New', Courier, monospace;
	color: #6696FF;
}

main {
	color: #6696FF;
}

footer {
	height: 75px;
	background: #B3CBFF;
}